@import "bootstrap/dist/css/bootstrap.min.css";

ul {
  background: lightseagreen;
  li {
    color: white;
  }
}

// .main {
//   background: #1d1d1d;
//   color: #fff;
// }

.purple {
  background: #6a5873;
}

.red {
  background: #885152;
}

.dark-red {
  background: #532e37;
  color: #fff;
}

.grey {
  background: #b5acbc;
}
